<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Tacos de birria</b></h1>
    <h1 class="w3-xxxlarge w3-text-blue-gray"><b>Cuenta</b></h1>
    <hr style="width:50px;border:5px solid paleturquoise" class="w3-round">
  </div>
  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-light-blue w3-xlarge w3-padding-32">Mesa No:{{mesa}} </li>
        <li class="w3-padding-16">
          <table style="border-collapse: collapse; width: 80%;" border="1" align="center">
        <tr>
            <th class="th-sm">Cantidad</th>
            <th class="th-sm">descripcion</th>
            <th class="th-sm">precio unitario</th>
            <th class="th-sm">precio total</th>
        </tr>
        {{#orden}}
        <tr> <br>
            <td>{{cantidad}}</td>
            <td>{{descripcion}}</td>
            <td>{{preciou}}</td>
            <td>{{preciot}}</td>  
        </tr>
          {{/orden}}

        </table>
        </li>
        {{#cobro}}
        <li class="w3-padding-16">
          <h1> <b>Total a pagar:${{cobro}} </b>  </h1>
          <h3 class="h5">Total en dolar: ${{ dll }}</h2>
        </li>
        <li class="w3-light-grey w3-padding-24">
                <form action="/api/pago/{{nOrden}}" method="GET">
                    <button class= "btn btn-primary" type="submit">Realizar cobro</button>
                </form>
          {{/cobro}}

        </li>
      </ul>
    </div>
    <div style="float: right; width: 30%;">
        <a href="/api/inicio"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
</div>