<body>
    <div class="w3-container" style="margin-top:80px; margin-left: 15%;" id="showcase">
    <h1 class="w3-jumbo"><b>Registro Final</b></h1>
    <h1 class="w3-xxxlarge w3-text-blue-gray"><b>Comidas</b></h1>
    <hr style="width:50px;border:5px solid paleturquoise" class="w3-round">
  </div> 
  <div class="w3-row-padding" style="margin-left:10%">
      {{#if message }}
        <div class="alert alert-success" role="alert" style="width: 70%;">
          <h1> {{message}}</h1>
        </div>
        {{/if}}
{{#comida}}
<form action="/api/comida/{{id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <table class="w3-ul w3-light-grey w3-center" style="width: 70%; border:1;" border="1">       
        <tr>
            <td>Id</td>
            <td><input type="text" id="login" class="fadeIn second" disabled name="id" value="{{id}}" ></td>
        </tr>
        <tr>
            <td>Nombre</td>
           <td> <input type="text" id="login" class="fadeIn second" name="nombre" value="{{nombre}}" required></td>
        </tr>
        <tr>
            <td>Descripcion</td>
            <td><input type="text" id="login" class="fadeIn second" name="descripcion" value="{{descripcion}}" required></td>
        </tr>
        <tr>
            <td>Precio</td>
            <td><input type="number" id="login" class="fadeIn second" name="precio" value="{{precio}}" required></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="accion" value="Modifica" class="btn btn-primary">
            </td>
        </tr>
        {{/comida}}

    </table>
   
</form>
</div>
<div style="float: right; width: 30%;">
    <a href="/api/admin"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
</div>
</body>